<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>
<body>
<main class="p-5 align-content-center bg-blur my-register-div">
    <h1 class="border-bottom mb-5">Login</h1>
    <div class="d-flex justify-content-center">

        <div class="row g-3 align-items-center">

            <form
                    th:action="@{/users/login}"
                    th:method="POST"
                    >
                <div>
<!--                    <h5 th:if="${isNotExist}" class="bg-danger">Incorrect username of password!</h5>-->
                    <div class="col-auto">
                        <label for="Email" class="col-form-label ">Email</label>
                    </div>
                    <div class="col-auto">
                        <input type="text"
                               name="email"
                               required
                               id="email"
                               class="form-control"
                               >
                    </div>
                    <p class="invalid-feedback errors alert alert-danger">
                        Invalid email.
                    </p>
                </div>
                <div>
                    <div class="col-auto">
                        <label for="Password" class="col-form-label ">Password</label>
                    </div>
                    <div class="col-auto">
                        <input type="password"
                               name="password"
                               id="password"
                               required
                               class="form-control"
                               >
                        <p class="invalid-feedback errors alert alert-danger">
                            Invalid password.
                        </p>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <button class="btn btn-primary btn-block w-50" type="submit">Login</button>
                </div>
            </form>
        </div>

    </div>
</main>
<footer th:replace="~{fragments/commons::footer}" class="footer bg-blur rounded">

</footer>
</body>
</html>
