<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>
<form  th:action="@{/save}"
       method="post">
    <select name="lang">
        <option
                th:each="lang : ${all}"
                th:value="${lang}"
                th:text="${lang}"
                th:selected="${lang} == ${preferredLang}">
        </option>
    </select>

    <input type="submit" value="Chang language">
</form>

<br>
<br>
<br>
Your preferred lani is <span th:text="${preferredLang}"></span>
</body>
</html>