<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top" xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <a class="navbar-brand" href="/"><img alt="car picture" src="/images/car.png" class="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto col-12 justify-content-between">

            <th:block sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/brands/all}">All Brands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/offers/add}">Add Offer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/offers/all}">All Offers</a>
                </li>
            </th:block>

            <th:block sec:authorize="hasRole('ADMIN')">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/}" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/statistics}">Statistics</a>
                    </div>
                </li>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <div class="form-inline my-2 my-lg-0 border px-3">
                        <div class="logged-user"
                             text="Welcome, ">
                            <th:block sec:authentication="name"></th:block>
                        </div>

                        <form class="nav-link" th:action="@{/users/logout}" th:method="POST">
                            <input class="btn btn-link nav-link" type="submit" value="logout">
                        </form>
                    </div>
                </li>
            </th:block>
            <th:block sec:authorize="!isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users/login}">Login</a>
                </li>
            </th:block>
        </ul>
    </div>
</nav>

